body{
	padding-top: 50px;
}
.anim-default{
	border-bottom: 3px solid lightgrey;
}
.anim-presentation{
	border-bottom: 3px solid red;
}
.anim-portfolio{
	border-bottom: 3px solid purple;
}
.anim-contact{
	border-bottom: 3px solid orange;
}
.navbar-brand{
	padding:0;
}
#logo{
	padding:5px;
	height:50px;
}

@media (min-width: 768px){
	.navbar-right {
		margin-right:0px;
	}
}